.login_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo, .login_fields {
  display: flex;
  flex: 1;
}

.fields {
  width: 90%;
  margin: auto;
}

.logo {
  flex-direction: column;
  color: white;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
}