.header {
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e8e6e8),color-stop(100%,#d1cfd1));
  background-image: -webkit-linear-gradient(top,#e8e6e8 0,#d1cfd1 100%);
  background-image: linear-gradient(to bottom,#e8e6e8 0,#d1cfd1 100%);
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
}

.logout_button {
  background-image: url('assets/images/logout.png');
}

.reload_button {
  background-image: url('assets/images/refresh.png');
}

.reload_button:disabled {
  padding-top: 15px;
  background-color: initial;
}

.action_buttons {
  text-align: right;
}

.action_buttons button {
  background-repeat: no-repeat;
  background-size: 22px;
  background-color: initial;
  border: 0;
  padding: 12px 15px;
  cursor: initial;
  margin-right: 5px;
  box-shadow: initial;
}

.login_info {
  flex: 1; 
  padding-left: 15px;
  font-weight: bold;
  background-image: url('assets/images/user.png');
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-left: 10px;
  background-size: 22px;
}
